.homeContainer {
  background-color: aqua;
}

.selectedTableRow {
  background-color: #ADD8E6;
}

.regularTableRow {

}

.cardConatiner {
  margin: 50px;
  text-align: center;
}

.addButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}